.js-wrapper {
    p {
        margin-bottom: 12px;
        padding-block: 10px;
        padding-left: 10px;
        padding-right: 7px;
        width: 734px;
        color: #000000;
        font-size: 14px;
        line-height: 1.6;
        background-color: white;
        border-radius: 6px;
    }
}